<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
  </head>
  <body>
    <div class="container">
      <h1>Dashboard</h1>

      <h3>Add a new song</h3>
      <form action="/new" method="POST">
        <div class="form-group">
          <label for="title">Title</label>
          <input type="text" class="form-control" name="title" />
        </div>
        <div class="form-group">
          <label for="artist">Artist</label>
          <input type="text" class="form-control" name="artist" />
        </div>
        <div class="form-group">
          <label for="album">Album</label>
          <input type="text" class="form-control" name="album" />
        </div>
        <div class="form-group">
          <label for="year">Year</label>
          <input type="text" class="form-control" name="year" />
        </div>
        <div class="form-group">
          <label for="artwork">Artwork</label>
          <input type="text" class="form-control" name="artwork" />
        </div>
        <input type="submit" class="btn btn-primary" value="Add Song" />
      </form>

      <h3>All songs</h3>
      <ul>
        <% for (let i = 0; i < songs.length; i++) { %>
        <li>
          <form action="/update/<%= songs[i]._id %>" method="POST">
            <div class="form-group">
              <label for="title">Title</label>
              <input type="text" class="form-control" name="title" value="<%= songs[i].title %>" />
            </div>
            <div class="form-group">
              <label for="artist">Artist</label>
              <input type="text" class="form-control" name="artist" value="<%= songs[i].artist %>" />
            </div>
            <div class="form-group">
              <label for="album">Album</label>
              <input type="text" class="form-control" name="album" value="<%= songs[i].album %>" />
            </div>
            <div class="form-group">
              <label for="year">Year</label>
              <input type="text" class="form-control" name="year" value="<%= songs[i].year %>" />
            </div>
            <div class="form-group">
              <label for="artwork">Artwork</label>
              <input type="text" class="form-control" name="artwork" value="<%= songs[i].artwork %>" />
            </div>
            <input type="submit" class="btn btn-primary" value="Update" />
          </form>
          <form action="/delete/<%= songs[i]._id %>" method="POST">
            <input type="submit" class="btn btn-danger" value="Delete" />
          </form>
        </li>
        <% } %>
      </ul>
    </div>

    <!-- Add Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
